<header>
  <img src="/images/whiteLogo.png" alt="Developer Logo" id="logo" />
  <div class="hamburger-menu" id="hamburger-menu">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
  <nav>
    <li><a href="/"> Home </a></li>
    <li><a href="#about"> About</a></li>
    <li><a href="#skills"> Skills</a></li>
    <li><a href="#projects"> Projects</a></li>
    <li><a href="#certificates"> Certificates</a></li>
    <li><a href="#contact"> Contact</a></li>
    <a href="/connect"
      ><button id="nav-button"><h3>Hire Me</h3></button></a
    >
  </nav>
</header>
