<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%- title %> | PORTFOLIO</title>

  <link rel="icon" href="/images/whiteLogo.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="/images/whiteLogo.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" href="/images/whiteLogo.ico" />

  <meta property="og:title" content="Mulubahzumu Kemmeh Sipor | Portfolio" />
  <meta
    property="og:description"
    content="Explore Mulubahzumu Kemmeh Sipor portfolio showcasing his skills and projects."
  />
  <meta
    property="og:image"
    content="https://www.yourwebsite.com/images/sharing-image.jpg"
  />
  <meta property="og:url" content="https://www.yourwebsite.com" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Mulubahzumu Portfolio" />

  <link rel="stylesheet" href="/css/styles.css" />
  <script src="/js/index.js"></script>
</head>
