<section class="home" id="landingPage">
  <!-- <img src="/images/landingPage.png" alt="Landing Page Background" /> -->
  <div class="top">
    <h2>Mulubahzumu Kemmeh Sipor</h2>
    <h3>FullStacks Developer</h3>
    <a href="/connect"><button><h3>Hire Me</h3></button></a>
  </div>
</section>
<section class="about" id="about">
  <h2>Welcome</h2>
  <p>
    As a full-stack developer, I'm dedicated to crafting interactive,
    accessible, and responsive web applications. My robust foundation in HTML,
    CSS, JavaScript, Node.js, Express, and MongoDB, continually strengthened
    through ongoing education, empowers me to transform innovative ideas into
    functional digital solutions. <br />
    <br />
    I excel in creating meaningful user experiences, with a particular focus on
    UI/UX design, adherence to accessibility standards, and optimizing site
    performance. Through practical experience on real-world projects and my
    current studies, I consistently seek new challenges to advance my skills and
    contribute effectively to development initiatives.
    <br><br>
    <a href="/documents/Resume1.pdf" download="Resume1.pdf" ><button id="resume">CV / Resume</button></a>
  </p>
  
</section>

<section class="skills" id="skill" >
  <h2> Skills </h2>
  <div class="skills-table" id="skills-container">
  </div>
</section>

<section class="projects" id="projects">
  <h2> Projects </h2>
  <div class="projects-container" id="projects-container">
  </div>
  <div id="modals-container"></div>
</section>

<section class="certificates" id="certificate">
  <h2> Certificates </h2>
  <div class="certificates" id="certificates">
  </div>
</section>

<section class="contact" id="contact">
  <h2>Contact Me</h2>
  <p>
    Let's connect and bring your ideas to life. Whether you're hiring,
    collaborating, or just want to chat tech—I'm here!
    <br /><br />
    📧 Email: <a class="link" href="mailto:msipor@byupathway.edu" target="_blank">msipor@byupathway.edu</a>
    <br />
    📱 Phone: +231-886-678-786 <br />
    🌐 GitHub:
    <a class ="link" href="https://github.com/MulubahzumuKSipor" target="_blank">MulubahzumuKSipor</a>
  </p>
</section>
